@{
    ViewData["Title"] = "Beomgyu Profile";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Beomgyu Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		@section Beomgyu{
		<div id="page-wrapper">

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row" >
							<div class="col-3 col-12-medium">
								<div class="sidebar">

										<!-- Something -->
											<section>
												<h2 class="major"><span></span></h2>
												<img src="/Tema/images/Beomgyu.jpg" width="250" height="360" />
											</section>
								</div>
							</div>
							<div class="col-9 col-12-medium imp-medium">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Beomgyu Profile</h2>
											</header>

											<section>
												<p>
													<mark>Nome d'Arte:</mark> Beomgyu (범규) <br>
													<mark>Nome di Nascita:</mark> Choi Beom Gyu (최범규) <br>
													<mark>Posizione:</mark> Cantante, Rapper, Ballerino, Centrale, Visual <br>
													<mark>Compleanno:</mark> 13 Marzo 2001 <br>
													<mark>Segno Zodiacale:</mark> Pesci <br>
													<mark>Segno Zodiacale Cinese:</mark> Serpente <br>
													<mark>Altezza:</mark> 180 cm <br>
													<mark>Peso:</mark> 53 kg <br>
													<mark>Gruppo Sanguigno:</mark> AB <br>
													<mark>Nazionalità </mark> Coreano
												</p>
											</section>

											<section>
												<h3>Altre Informazioni su Beomgyu</h3>
												<p>
													<ul style="list-style: circle;">
														<li>Beomgyu viene da Daegu, Sud Corea.</li>
														<li>Beomgyu è stato l'ultimo membro ad essere rivelato il 20 Gennaio 2019.</li>
														<li>Il suo animale rappresentativo è la Farfalla.</li>
														<li>Il suo fiore rappresentativo è il Papavero.</li>
														<li>Famiglia: Padre, Madre, e un fratello maggiore.</li>
														<li>Hobbies: Suonare la chitarra.</li>
														<li>I suoi nickname sono ‘Bamgyu’ e ‘Cookie’.</li>
														<li>La sua frutta preferita sono le fragole.</li>
													</ul>
												</p>
											</section>
										</article>

								</div>
							</div>
							
						</div>
					</div>
				</section>
			
		</div>}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
