@{
    ViewData["Title"] = "Huening Kai Profile";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Huening Kai Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		@section HueningKai{
		<div id="page-wrapper">

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row" >
							<div class="col-3 col-12-medium">
								<div class="sidebar">

										<!-- Something -->
											<section>
												<h2 class="major"><span></span></h2>
												<img src="/Tema/images/HueningKai.jpg" width="250" height="360" />
											</section>
								</div>
							</div>
							<div class="col-9 col-12-medium imp-medium">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Huening Kai Profile</h2>
											</header>
											<section>
												<p>
													<mark>Nome d'Arte:</mark> Huening Kai (휴닝카이) <br>
													<mark>Nome di Nascita:</mark> Kai Kamal Huening <br>
													<mark>Nome Coreano:</mark> Jung Kai (정카이) <br>
													<mark>Nome Cinese:</mark> Xiuning Kai (休宁凯) <br>
													<mark>Posizione:</mark> Cantante, Rapper, Ballerino, Visual, Maknae <br>
													<mark>Compleanno:</mark> 14 Agosto 2002 <br>
													<mark>Segno Zodiacale:</mark> Leone <br>
													<mark>Segno Zodiacale Cinese:</mark> Cavallo <br>
													<mark>Altezza:</mark> 183 cm <br>
													<mark>Peso:</mark> 67 kg <br>
													<mark>Gruppo Sanguigno:</mark> A <br>
													<mark>Nazionalità </mark> Coreano-Americano
												</p>
											</section>

											<section>
												<h3>Altre Informazioni su Huening Kai</h3>
												<p>
													<ul style="list-style: circle;">
														<li>Huening Kai è nato e ha vissuto alle Hawaii, negli USA per un mese, si è fermato in S. Corea
														per incontrare la sua famiglia, poi si è trasferito in Cina e ha vissuto lì per circa 7 anni. Infine quando aveva 8 anni si è trasferito nuovamente in S. Corea.</li>
														<li>Huening Kai è stato il terzo membro ad essere rivelato il 15 Gennaio 2019.</li>
														<li>Il suo animale rappresentativo è Geco Leopardo.</li>
														<li>Il suo fiore rappresentativo è il Papavero d'Islanda.</li>
														<li>Famiglia: Padre, Madre, sorella maggiore(Lea) e una sorella minore.</li>
														<li>Hobbies: Suonare gli stumenti.</li>
														<li>Sa suonare la batteria, la chitarra, il piano e il flauto.</li>
														<li>La sua frutta preferita è l'ananas</li>
													</ul>
												</p>
											</section>
											
										</article>

								</div>
							</div>
							
						</div>
					</div>
				</section>
		
		</div>}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

