@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Montanari Giorgia TXT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/Tema/assets/css/main.css" />
		<style>
			.spazio{
				margin-inline-end: 20px;
				margin-inline-start: 20px;
			}
			.image:before {
  				background: none;
			}
		</style>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			@section Header{
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="/Tema/index.html" id="logo">TXT</a></h1>
							<p>"Tomorrow X Together"</p>
						</div>
					</div>
				</header>
			}
			<!-- Banner -->
			@section banner {
				<section id="banner">
					<div class="content">
						<h2>Benvenuto, inizia a stannare gli TXT!</h2>
						<p>Una boyband coreana famosa in tutto il mondo!!</p>
						<a href="#main" class="button scrolly">Inizia a stannare!</a>
					</div>
				</section>
			}
			
    </body>
</html>