@{
    ViewData["Title"] = "Privacy Policy";   
}
<br>

<div id="box1">
    <div id="quadrato">
        <center><h2>@ViewData["Title"]</h2>
        <p>Ecco la nostra privacy...<br> &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ..se non l'accetti allora vattene!!</p></center><br>
        <iframe width="900" height="500" src="https://www.youtube.com/embed/Vd9QkWsd5p4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>
</div>
<!-- Scripts -->
	<script src="Tema/assets/js/main.js"></script>