@{
    ViewData["Title"] = "Privacy Policy";   
}
<br>

<div id="box1">
    <div id="quadrato">
        <center><h2>@ViewData["Title"]</h2></center>
        <video width="700" height="500" controls="controls" autoplay="autoplay">
            <source src="https://youtu.be/Vd9QkWsd5p4" type="video/mp4" />
        </video>
    </div>
</div>
<!-- Scripts -->
	<script src="Tema/assets/js/main.js"></script>