@{
    ViewData["Title"] = "Soobin Profile";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Soobin Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		@section Soobin{
		<div  id="page-wrapper">

			<!-- Main -->
				<section>
					<div  class="container">
						<div class="row" >
							<div class="col-3 col-12-medium">
								<div class="sidebar">

										<!-- Something -->
											<section>
												<h2 class="major"><span></span></h2>
												<img src="/Tema/images/Soobin.jpg" width="250" height="360" />
											</section>
								</div>
							</div>
							<div class="col-9 col-12-medium imp-medium">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Soobin Profile</h2>
											</header>

											<section>
												<p>
													<mark>Nome d'Arte:</mark> Soobin (수빈) <br>
													<mark>Nome di Nascita:</mark> Choi Soo Bin (최수빈) <br>
													<mark>Posizione:</mark> Leader, Cantante, Rapper, Ballerino <br>
													<mark>Compleanno:</mark> 5 Dicembre 2000 <br>
													<mark>Segno Zodiacale:</mark> Saggitario <br>
													<mark>Segno Zodiacale Cinese:</mark> Drago <br>
													<mark>Altezza:</mark> 185 cm <br>
													<mark>Peso:</mark> 67 kg <br>
													<mark>Gruppo Sanguigno:</mark> A <br>
													<mark>Nazionalità </mark> Coreano
												</p>
											</section>

											<section>
												<h3>Altre Informazioni su Soobin</h3>
												<p>
													<ul style="list-style: circle;">
														<li>Soobin viene da Sangnok-gu, Ansan, Gyeonggi-do, Sud Corea.</li>
														<li>Soobin è stato il secondo membro ad essere rivelato il 13 Gennaio 2019.</li>
														<li>Il suo animale rappresentativo è la Mantide Religiosa.</li>
														<li>Il suo fiore rappresentativo è l'Anemone.</li>
														<li>Famiglia: Padre, Madre, un fratello maggiore (6 anni più grande), e una sorella maggiore (10 anni di differenza).</li>
														<li>Hobbies: Leggere e ascoltare la musica.</li>
														<li>Ha un cane chiamato Sean.</li>
														<li>Soobin è timido quando incontra le persone per la prima volta.</li>
													</ul>
												</p>
											</section>
										</article>

								</div>
							</div>
							
						</div>
					</div>
				</section>
				<center><iframe width="560" height="315" src="https://www.youtube.com/embed/HeHPRMOXz2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
		</div>}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
