@{
    ViewData["Title"] = "Taehyun Profile";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Taehyun Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		@section Taehyun{
		<div id="page-wrapper">

			<!-- Main -->
				<section>
					<div class="container">
						<div class="row" >
							<div class="col-3 col-12-medium">
								<div class="sidebar">

										<!-- Something -->
											<section>
												<h2 class="major"><span></span></h2>
												<img src="/Tema/images/Taehyun.jpg" width="250" height="360" />
											</section>
								</div>
							</div>
							<div class="col-9 col-12-medium imp-medium">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Taehyun Profile</h2>
											</header>

											<section>
												<p>
													<mark>Nome d'Arte:</mark> Taehyun (태현) <br>
													<mark>Nome di Nascita:</mark> Kang Tae Hyun (강태현) <br>
													<mark>Posizione:</mark> Cantante, Rapper, Ballerino <br>
													<mark>Compleanno:</mark> 5 Febbraio 2002 <br>
													<mark>Segno Zodiacale:</mark> Acquario <br>
													<mark>Segno Zodiacale Cinese:</mark> Serpente <br>
													<mark>Altezza:</mark> 177 cm <br>
													<mark>Peso:</mark> 55 kg <br>
													<mark>Gruppo Sanguigno:</mark> A <br>
													<mark>Nazionalità </mark> Coreano
												</p>
											</section>

											<section>
												<h3>Altre Informazioni su Taehyun</h3>
												<p>
													<ul style="list-style: circle;">
														<li>Taehyun viene da Gangnam-gu, Seoul, Sud Corea.</li>
														<li>Taehyun è stato il quarto membro ad essere rivelato il 20 Gennaio 2019.</li>
														<li>Il suo animale rappresentativo è il pappagallo Caique.</li>
														<li>Il suo fiore rappresentativo è il Narciso.</li>
														<li>Famiglia: Padre, Madre, e una sorella maggiore (4 anni di differenza).</li>
														<li>Hobbies: Nuotare e giocare a calcio.</li>
														<li>Taehyun è un alunno alla Hanlim Arts School.</li>
														<li>Il suo colore preferito è il giallo.</li>
													</ul>
												</p>
											</section>
										</article>

								</div>
							</div>
							
						</div>
					</div>
				</section>
			<center><iframe width="560" height="315" src="https://www.youtube.com/embed/Cm8ZhJUQEiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>	
		</div>}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

