@{
    ViewData["Title"] = "Yeonjun Profile";
}

<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Yeonjun Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		@section Yeonjun{
		<div id="page-wrapper">

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row" >
							<div class="col-3 col-12-medium">
								<div class="sidebar">

										<!-- Something -->
											<section>
												<h2 class="major"><span></span></h2>
												<img src="/Tema/images/Yeonjun.jpg" width="250" height="360" />
											</section>
								</div>
							</div>
							<div class="col-9 col-12-medium imp-medium">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header>
												<h2>Yeonjun Profile</h2>
											</header>

											<section>
												<p>
													<mark>Nome d'Arte:</mark> Yeonjun (연준) <br>
													<mark>Nome di Nascita:</mark> Choi Yeon Jun (최연준) <br>
													<mark>Posizione:</mark> Cantante, Rapper, Ballerino <br>
													<mark>Compleanno:</mark> 13 Settembre 1999 <br>
													<mark>Segno Zodiacale:</mark> Vergine <br>
													<mark>Segno Zodiacale Cinese:</mark> Coniglio <br>
													<mark>Altezza:</mark> 181.5 cm <br>
													<mark>Peso:</mark> 62 kg <br>
													<mark>Gruppo Sanguigno:</mark> A <br>
													<mark>Nazionalità </mark> Coreano
												</p>
											</section>

											<section>
												<h3>Altre Informazioni su Yeonjun</h3>
												<p>
													<ul style="list-style: circle;">
														<li>Yeonjun viene da Bundang-gu, Seongnam City, Gyeonggi-do, Sud Corea.</li>
														<li>Yeonjun è stato il primo membro ad essere rivelato il 10 Gennaio 2019.</li>
														<li>Il suo animale rappresentativo è la Pupae.</li>
														<li>Il suo fiore rappresentativo è il Tulipano.</li>
														<li>Famiglia: Padre, Madre.</li>
														<li>Hobbies: Ballare, andare sullo skateboard e mangiare.</li>
														<li>La sua frutta preferita sono le mele e le banane.</li>
														<li>Yeonjun ha detto di essere stato un trainee per 5 anni.</li>
													</ul>
												</p>
											</section>
										</article>

								</div>
							</div>
							
						</div>
					</div>
				</section>
				
		</div>}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
